html, body {
    background-color: rgb(215, 193, 221);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow Bold', Arial, sans-serif;
}

h1 {
    color:  rgb(37, 14, 141); 
    font-size: 45px;
    font-weight: bolder;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2, h5, a, span {
    color: rgb(37, 14, 141);
}


.p-2 {
    font-size: 22px; 
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

#score-list {
    font-size: 21px;
    color: rgb(0, 0, 0);   
    }


ol {
    list-style: none;
    counter-reset: li;
}

li {
    counter-increment: li;
}

li::before {
    content: "." counter(li);
    color: rgb(43, 43, 122);
    display: inline-block;
    width: 16px;
    margin-left: -24px;
    margin-right: 10px;
    text-align: right;
    direction: rtl;
}

#scoresTitle {
    padding-left: 16px;
}

